<div class="top-introduction text-center">
  <div class="container-fluid top-container">
    <h1 class="text-white">TRIP NOTE</h1>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= link_to 'Sign Up', 'users/new', class: 'btn btn-block btn-white' %>
         <p class="text-white">Are you already user? <%= link_to("Log in", login_path) %> </p>
      </div>
      
    </div>
  </div>
</div>

