@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'font-awesome-sprockets';

/* univarsal */

body{
  padding-top: 50px;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.btn-white {
  margin-top: 50px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.btn-black{
  margin-top: 50px;
  font-weight: 500;
  color: #000;
  border: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #000;
  }
}

.link-area{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} .fa{
  font-size: 30px;
  color: #777;
}


/* typography*/

h1, h2, h3, h4, h5{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.nav img{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 80%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* footer */
footer{
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #fafafa;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

/* sidebar */
aside{
  section.user_info{
    margin-top: 20px;
  }
  section{
    padding: 10px 0;
    margin-top: 20px;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* home */
.home-container{
  width: 100vw;
  height: 100vh;
  background-image: url("tripnote-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1{
    margin-top: 0;
    padding-top: 50px;
  }
  p{
    margin-bottom: 0;
  }
}

/* users new */
.users-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("tripnote-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1{
    margin-top: 0;
    padding-top: 50px;
  }
}


/* sessions new */
.sessions-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("tripnote-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .form-wrapper{
    padding-top: 100px;
  }
  .check_box{
    float: left;
  }
  p{
    display: inline;
  }
}

/* users show */
.user-info{
  text-align: center;
  padding-top: 30px;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  h2{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.user-box-area{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 25px;
  img{
    margin-bottom: 25px;
  }
}

.user-box-area::before{
  content:"";
  display: block;
  width:23%;
  order:1;
}
.user-box-area::after{
  content:"";
  display: block;
  width:23%;
}



/* users index */
.users{
  list-style: none;
  margin: 0;
  li{
    justify-content: center;
    display: flex;
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid $gray-lighter;
  }
}


.user-index-item{
  width: 150px;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  h2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  p{
    text-align: center;
  }
}

/* plans-index */
.post-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}

.post-index-wrapper{
  padding-top: 30px;
  margin-bottom: 30px;
  background-color: #fafafa;
  .post-index-single {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .post-title {
      font-size: 15px;
      padding-right: 20px;
      padding-left: 20px;
    }
    h3{
      font-size: 15px;
      margin: 15px 0 10px 0;
    }
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      object-fit: cover;
    }
  }
  
  .post-description{
      padding-right: 20px;
      padding-left: 20px;
      font-size: 5px;
    }
  
}

/* plans-new */
.plan-new-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}

  
/* flash */
#error_explanation{
  color: red;
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

/* need fix */

.form-control{
  height: 45px;
}




/* remember_me */
.check_box{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
}

