@import "bootstrap-sprockets";
@import "bootstrap";

.text-white {
  color: #fff;
}

h1{
  font-weight: 500;
}

.btn-white {
  margin-top: 50px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.btn-black{
  margin-top: 50px;
  font-weight: 500;
  color: #000;
  border: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #000;
  }
}

.top-introduction{
  width: 100vw;
  height: 100vh;
  background-image: url("tripnote-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.box{
  float: left;
}

.top-container{
  padding-top: 220px;
  
  h1{
    font-size: 50px;
  }
}

.form-control{
  height: 45px;
}

.users-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("tripnote-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  .users-new-container{
    padding-top: 220px;
    
    .form-group{
     margin-bottom: 20px;
   }
  }
}

.plan-new-wrapper{
  padding-top: 220px;
}


#error_explanation{
  color: red;
  
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

.user-info{
  margin-top: 500px;
}

.post-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .post-index-single {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .post-title {
      font-size: 15px;
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  
  .post-description{
      padding-right: 20px;
      padding-left: 20px;
    }
  
}

