<div class="post-index-wrapper">
  <div class="container-fluid">
    <h1 class="text-center">Destinaitons</h1>
    <%= link_to new_plan_destination_path(plan_id: @plan_id) do %>
      <p class="text-center">Register Destination </p>
    <% end %>
    <% @plan_destinations.each do |plan_destination| %>
      <div class="box">
        <div class="post-index-single">
          <%= image_tag plan_destination.image.url,size: '320x240' %>
          <h2 class="post-title">
            <%= plan_destination.destination_title %>
          </h2>
          <h3 class="post-description">
            <%= plan_destination.description %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>